*.suo
*.pyo
*.patrol
/*.bat
/data/EDMC-Canonn.patrol
/EDMC.log
/.venv
/venv
*.pyc
/.vs/slnx.sqlite
/.vs
/git
/github
*.asc
*.log
#/CanonnMigration
*.pyproj
/EDMC-Triumvirate.sln
/modules/modules.zip
/settings_local.py
.vscode
/EDMC-Triumvirate.pyproj.user
test.py
/modules/test.py