*.suo
*.pyo
*.patrol
/
/modules/__init__.pyc
/modules/systems.pyc
/modules/release.pyc
/modules/player.pyc
/modules/patrol.pyc
/modules/nhss.pyc
/modules/news.pyc
/modules/legacy.pyc
/modules/journaldata.pyc
/modules/hdreport.pyc
/modules/fssreports.pyc
/modules/factionkill.pyc
/modules/emitter.pyc
/modules/debug.pyc
/modules/codex.pyc
/modules/clientreport.pyc
/load.pyc
/*.bat
/data/EDMC-Canonn.patrol
/EDMC.log
*.pyc
/.vs/slnx.sqlite
/.vs
/git
/github
*.asc
*.log
#/CanonnMigration
*.pyproj
/EDMC-Triumvirate.sln
