*.suo
*.pyo
*.patrol
/*.bat
userdata
/EDMC.log
/.venv
/venv
*.pyc
/.vs/slnx.sqlite
/.vs
/git
/github
*.asc
*.log
#/CanonnMigration
*.pyproj
/EDMC-Triumvirate.sln
/modules/modules.zip
/settings_local.py
.vscode
/EDMC-Triumvirate.pyproj.user
test*.*
.python-version
deploy.ps1